

@import url('https://fonts.cdnfonts.com/css/miama');

.second-font{
  font-family: "Miama", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.inter-tight-font {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/*common uses */
body {
  font-family: inter;
}

/*header section*/
.nav-bar{
  height: 715px;
  width: 1440px;
  background: linear-gradient(180.00deg,#111111d0,#5c5c5c , #111111cc);
}
.nav-aria{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 57px 190px ;
  
}
.nav-first{
   font-size:38px ;
   color: #E6533C;
}

.nav-second{
  text-decoration: none;
  color: white;
  margin: 10px ;
  font-size: 100%;
  font-weight: 400;
  padding: 20px;
}
.nav-border{
  border: 1px solid #FFFFFF1A;
  border-radius: 40px;
  align-items: center;
  display: flex;
}
.home{
  background-color: #E6533C;
  border-radius: 40px;
}
.home-second{
  text-decoration: none;
  color: white;
  margin: 1px ;
  font-size: 100%;
  font-weight: 400;
  padding: 20px;
}
/*header second part*/
.header-second-section{
  display: flex;
  margin: 60px 90px;
  justify-content: center;
  
}
.part-one-header{
  width: 520px;
  height: 281px;
}
.left-head{
     font-size: 75px;
     color: #ffffff;
     

}
.shape{
  font-size: 140px;
  font-weight: 300;
  line-height: 0px;
  
}
.left-pra{
  color:#FFFFFF80;
  font-weight: 500;
  margin-top:0px;
}
.left-button{
  background-color:  #E6533C;
  border: none;
  color: white;
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 18px;

}
.left-button-tow{
  background-color:rgba(0, 0, 0, 0);
  border: none;
  color: white;
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid white;
}


.part-second-header{
  display: flex;
  width: 549px;
  height: 549px;
  margin: -35px 40px;     
}


.fitness-one-item{
  background-color: #0000009c;
  height: 100px;
  width: 400px;
  margin-top: 390px;
  margin-right: -70px;
  display: flex;
  z-index: 10;
  border-radius: 15px;

}


.fitness-tow-item{
  background-color: #0000008e;
  height: 100px;
  width: 400px;
  margin-top: 140px;
  margin-left: -110px;
  z-index: 10;
  border-radius: 15px;
  line-height: 0%;
  color: white;
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
  
}
.second-header-five{
  color: white;
  font-size: 46px;
  
}
